release/*
resources/images/*
README.txt
beep.wav
contextmenu.py
resources/maxxam_vuota.png
*.pyc
*.pyo
scrapers/maxxam_scraper/2__init__.py
sftp-config.json
teamwatch.sublime-project
teamwatch.sublime-workspace
